html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-accent;
  }
}

.cl-component input {
  @apply rounded-lg border-2 border-gray-700 bg-secondary px-4 py-2 transition duration-200 hover:border-opacity-60 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-60;
}

.cl-component button {
  @apply transition duration-200 hover:!opacity-60;
}

.cl-oauth-button {
  @apply !border-2 !border-secondary !bg-secondary !text-accent;
}

.cl-component {
  --clerk-primary: #0e64c4;
  --clerk-background-color: #111827;
  --clerk-font-color: #f0f0f0;
  --clerk-accounts-background-color: #000000 !important;
  --clerk-box-shadow: 0px 12px 48px 4px rgba(12, 6, 28, 0.8);
  --clerk-border-radius: 0.5rem;
}
