html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-accent;
  }
}

.cl-component input {
  @apply rounded-lg border-2 border-gray-700 bg-secondary px-4 py-2 transition duration-200 hover:border-opacity-60 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-60;
}

.cl-component button {
  @apply transition duration-200 hover:!opacity-60;
}

.cl-oauth-button {
  @apply !border-2 !border-secondary !bg-secondary !text-accent;
}

.cl-component {
  --clerk-primary: #0e64c4;
  --clerk-background-color: #111827;
  --clerk-font-color: #f0f0f0;
  --clerk-accounts-background-color: #000000 !important;
  --clerk-box-shadow: 0px 12px 48px 4px rgba(12, 6, 28, 0.8);
  --clerk-border-radius: 0.5rem;
}

:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #111827;
  --rsbs-handle-bg: #243252;
  --rsbs-max-w: auto;
  --rsbs-ml: 0em;
  --rsbs-mr: 0em;
  --rsbs-overlay-rounded: 8rem;
}

.react-datepicker__input-container input {
  @apply rounded-lg border-4 border-gray-900 bg-secondary px-4 py-2 transition duration-200 hover:border-opacity-60 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500 focus:ring-opacity-60;
}

.react-datepicker-popper {
  @apply z-40 h-64 w-72 rounded-lg bg-secondary px-3 py-2 text-sm shadow;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-16 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute top-12 right-0 z-10 w-72 transform-none rounded-lg bg-secondary px-3 py-2 text-sm shadow !important;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-accent;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-center text-xs font-medium text-gray-300;
}

.react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-1;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-primary;
}

.react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-primary;
}

.react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1 text-sm leading-loose text-gray-300 transition hover:bg-primary;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-500;
}

.react-datepicker__day--selected {
  @apply bg-blue-600 text-accent;
}
